.container {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

ul {
    list-style: none
}

img {
    height: 300px;
    width: 300px;
    border-radius: 0.5rem;
}

.card {
    margin: 0 5px 0 5px;
}